<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/css/styles.css">
    <link rel="stylesheet" href="../public/libs/noty/noty.css">
    <link rel="stylesheet" href="../public/libs/noty/metroui.css">
    <title>Bot Panel</title> 
</head>
<body>
    <!-- Preloader -->
	<div class="preloader">
        <video class="hidden" autoplay loop muted src="../public/assets/images/loading.webm"></video>
        
        <div class="token-input-container">
            <h1 class="header">Enter your token</h1>
            <div style="display: flex; gap: 6px;">
                <input class="token-input" type="text" placeholder="Token" spellcheck="false">
                <button class="submit-token-btn"></button>
            </div>
        </div> 
	</div>

    <div class="app">
        <!-- Guilds -->
        <nav class="guilds-container">
            <div class="squircle" id="about-btn">
                <img class="icon discord-icon" src="../public/assets/images/discordlogo.png">
                <div class="tooltip"><span>Select A Server</span></div>
            </div>
        
            <div class="divider"></div>
        </nav>

        <!-- Channels -->
        <nav class="side-bar">
            <div class="guild-name"><span class="no-wrap" id="guild-name">Select a server</span></div>
            <div class="channels-container"></div>
        </nav>

        
        <main class="voice-call-wrapper">
            <span class="no-connection-msg">Not connected to a voice call</span>

            <!-- Call -->
            <div class="voice-call-content hidden">

                <div class="voice-call-info">
                    <div class="channel-info">
                        <img class="icon voice-channel-icon" src="../public/assets/images/voicechannel.png">
                        <span id="voice-channel-name"></span>
                    </div>
                    <span class="hidden" id="latency">0ms
                        <div class="tooltip"><span>The time it takes for sound to play in Discord</span></div>
                    </span>
                </div>

                <div class="participants"></div>

                <div class="bottom-controls">
                    <div id="deafen-btn" class="bottom-control-btn deafen-btn">
                        <img src="../public/assets/images/deafen.png">
                    </div>
                    
                    <div id="mute-btn" class="bottom-control-btn unmute-btn">
                        <img src="../public/assets/images/unmute.png">
                    </div>

                    <div id="disconnect-btn" class="bottom-control-btn disconnect-btn">
                        <img src="../public/assets/images/disconnect.png">
                    </div>
                </div>
            </div>
        </main> 
    </div>
    

    <!-- Scripts -->
    <script>window.$ = window.jQuery = require('../public/libs/jquery/jquery.min.js');</script>
    <script type="text/javascript" src="https://jaromvogel.com/js/color-thief.min.js"></script>
    <script type="text/javascript" src="../public/libs/noty/noty.min.js"></script>
    <script type="text/javascript" src="../public/js/log.js"></script>
    <script type="text/javascript" src="../public/js/login.js"></script>
    <script type="text/javascript" src="../public/js/constants.js"></script>

    <script type="text/javascript" src="../public/js/functions.js"></script>
    <script type="text/javascript" src="../public/js/audioStreaming.js"></script>
    <script type="text/javascript" src="../public/js/speaking.js"></script>
    <script type="text/javascript" src="../public/js/discordEvents.js"></script>
    <script type="text/javascript" src="../public/js/buttonEvents.js"></script>
</body>
</html>